<div class="section">
    <md-toolbar  ng-show="activeToolbar" class="">
        <h1 class="md-toolbar-tools">
            <md-button class=""  aria-label="Отмена" ng-click="unselectAllRows()">
                <md-tooltip>
                    Отмена
                </md-tooltip>
                <md-icon icon="img/icons/ic_close_24px.svg">
                </md-icon>
            </md-button>
            <div flex> </div>
            <md-button ng-click="delAllRowWeather()"  class="" aria-label="Удалить">
                <md-tooltip>
                    Удалить
                </md-tooltip>
                <md-icon icon="img/icons/ic_done_all_24px.svg">
                </md-icon>
            </md-button>
        </h1>
    </md-toolbar>
    <div class="section__list">
        <table class="list">
            <thead>
            <tr class="list__head-row">
                <th class="list__col-1 list__col-1--center">
                    <input type="checkbox"
                           ng-model="allRowsChecked"
                           ng-change="toggleSelectAllRows()"
                    >
                </th>
                <th class="list__col-2">Город</th>
                <th class="list__col-3" ng-click="sortList.sort('date')">Дата
                    <i ng-class="{'icon-arrow_drop_up' : sortList.isSortUp('date'),
                                  'icon-arrow_drop_down' : sortList.isSortDown('date')}">

                    </i>
                </th>
                <th class="list__col-4" ng-click="sortList.sort('precipitation')">Осадки
                    <i ng-class="{'icon-arrow_drop_up' : sortList.isSortUp('precipitation'),
                                  'icon-arrow_drop_down' : sortList.isSortDown('precipitation')}">

                    </i>
                </th>
                <th class="list__col-5" ng-click="sortList.sort('tDay')">Днем
                    <i ng-class="{'icon-arrow_drop_up' : sortList.isSortUp('tDay'),
                                  'icon-arrow_drop_down' : sortList.isSortDown('tDay')}">

                    </i>
                </th>
                <th class="list__col-6" ng-click="sortList.sort('tNight')">Ночью
                    <i ng-class="{'icon-arrow_drop_up' : sortList.isSortUp('tNight'),
                                  'icon-arrow_drop_down' : sortList.isSortDown('tNight')}">

                    </i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="list__row"
                ng-class="{'list__row--disable': weather.isArchived}"
                ng-repeat="weather in weatherList | orderBy:sortList.fieldName:sortList.reverse track by weather.id"
            >
                <td class="list__col-1--center">
                    <input type="checkbox"
                           ng-model="weather.isChecked"
                           ng-change="toggleToolbar()"
                    >
                </td>
                <td ng-bind="weather.nameCity"></td>
                <td ng-bind="weather.date | date:'yyyy-MM-dd'"></td>
                <td ng-bind="weather.precipitation"></td>
                <td ng-bind="weather.tDay"></td>
                <td ng-bind="weather.tNight"></td>
                <td>
                    <button class="list__btn"
                            ng-click="editRowWeather(weather)"
                            ng-hide="hideBtnEdit"
                    >Edit
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="float-btn">
        <md-button class="md-fab md-primary" ui-sref="add" aria-label="Добавить">
            <md-tooltip >
                Добавить
            </md-tooltip>
            <md-icon icon="img/icons/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-button>
    </div>
</div>
